.wrapper {
  display: block;
  width: 600px;
  background-color: white;
  margin-top: 50px;
  padding: 30px 30px;
  justify-content: center;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.buttonWrapper {
  display: block;
  display: flex;
  padding: 10px 20px;
  justify-content: left;
}

.title {
  color: black;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.19;
  text-align: left;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.btn {
  margin: 0 10px;
}

.text {
  color: gray;
  font-size: 18px;
  line-height: 1.19;
  text-align: left;
  letter-spacing: 0.03em;
}
